/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    --color-alpha: #A3333D;

    --color-neutral-xx-light: white;
    --color-neutral-x-light: #F0DDDE;
    --color-neutral-light: #A39697;
    --color-neutral: #706768;
    --color-neutral-dark: #575051;
    --color-neutral-x-dark: #242121;
}

:root .c-darkmode {
    --color-alpha: #242121;
    --color-neutral-x-dark: white;
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", Helvetica, arial, sans-serif;
    color: #202024;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.c-darkmode {
    background: #242121;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #5051DB;
    color: white;
    text-shadow: none;
}

::selection {
    background: #5051DB;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    color: #3C3C42;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #5051DB;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #3E3EA8;
}

a:hover,
a:focus {
    color: #3E3EA8;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em; /* 80* 16px = 1280px */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

.c-header__background {
    position: absolute;
    width: 100vw;
    height: 560px;
    background-color: var(--color-alpha);
}

.c-header__bottom {
    display: none;
    position: absolute;
    width: 100vw;
    top: 560px;
}

@media(min-width: 736px) {
    .c-header__bottom {
        display: block;
    }
}

.c-header__content {
    position: relative;
    text-align: center;
    margin: 0 24px;
}

.c-header__title {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--color-neutral-xx-light);
    font-weight: 400;
    padding-top: 32px;
    margin-bottom: 8px;
    text-align: start;
}

.c-header__subtitle {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-neutral-xx-light);
    font-weight: 600;
    text-align: center;
}

@media(min-width: 536px) {
    .c-header__title {
        font-size: 28px;
        margin-bottom: 32px;
    }

    .c-header__subtitle {
        font-size: 32px;
    }
}

@media(min-width: 1280px) {
    .c-header__title {
        padding-top: 48px;
    }
}

.c-header__mockup {
    height: 456px;
    display: block;
    margin: 0 auto;
}

.c-header__mockup-release {
    font-size: 24px;
    margin-top: 16px;
}

/*
    Component: main
    ---
    Main of the website
*/

.c-main {
    text-align: center;
    margin-bottom: 80px;
}

.c-main__item {
    max-width: 570px;
    margin: 0 24px;
}

@media(min-width: 616px) {
    .c-main__item {
        margin: 0 auto;
    }
}

.c-main__item-title {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.c-main__item-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

@media(min-width: 536px) {
    .c-main__item-title {
        font-size: 32px;
        margin-top: 56px;
        margin-bottom: 18px;
    }

    .c-main__item-text {
        font-size: 24px;
        line-height: 32px;
    }
}

.c-main__subscribe {
    display: flex;
    align-items: center;
    max-width: 570px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.c-main__subscribe-input {
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    margin-right: 24px;
    border: none;
    border-bottom: 1px solid var(--color-neutral-x-dark);
    outline: none;
}

.c-main__subscribe-button {
    position: relative;
    font-size: 20px;
    background: var(--color-alpha);
    color: var(--color-neutral-xx-light);
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    min-width: 136px;
}

@media(min-width: 528px) {
    .c-main__subscribe {
        display: flex;
    }

    .c-main__subscribe-button-input {
        margin: auto;
    }

    .c-main__subscribe-input {
        font-size: 24px;
    }

    .c-main__subscribe-button {
        font-size: 24px;
        min-width: 160px;
    }
}

.c-main__subscribe-button span {
    position: relative;
    z-index: 2;
}

.c-main__subscribe-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #872a31;
    transition: all 300ms;
    border-radius: 12px;
}

.c-main__subscribe-button:hover {
    color: var(--color-neutral-xx-light);
}

.c-main__subscribe-button:hover:after {
    width: 100%;
}

/*
    Component: App Header
    ---
    Main app header of the website
*/

.c-app-header {
    background: var(--color-alpha);
    padding: 0 16px;
}

.c-app-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-darkmode .c-app-header {
    border-bottom: 1px solid var(--color-neutral-dark);
}

.c-app-header__title {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--color-neutral-xx-light);
    font-weight: 400;
    padding: 16px 0;
    margin: 0;
}

@media(min-width: 536px) {
    .c-app-header__title {
        font-size: 28px;
    }
}

/*
    Component: App Main
    ---
    App main of the website
*/

.c-app-main {
}

.c-app-main h2 {
    color: var(--color-neutral-x-dark);
    font-size: 32px;
    text-align: center;
    padding-top: 16px;
}

.c-app-main__content {
    margin-top: 8px;
    margin-left: 16px;
}

@media(min-width: 1232px) {
    .c-app-main {
        display: grid;
        grid-template-columns: 1fr 220px;
    }

    .c-app-main h2 {
        grid-column: 1 / span 2;
    }
    
    .c-app-main__content {
        margin-top: 0;
        margin-left: 8px;
    }
}

.c-app-main__content p {
    color: var(--color-neutral-x-dark);
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/*
    Component: Map
    ---
    Main map of the website
*/

#c-map {
    height: 800px;
    border: 1px solid white;
}

/*
    Component: Toggle
    ---
    Darkmode toggle of the website
*/

.c-toggle {
    display: flex;
    align-items: center;
}

.c-toggle__text {
    margin: 0;
    margin-right: 8px;
    color: var(--color-neutral-xx-light);
    font-size: 20px;
}

.c-label {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-neutral-xx-light);
}

.c-custom-toggle__fake-input {
    display: block;
    height: 16px;
    width: 48px;
    border-radius: 32px;
    background: var(--color-neutral-xx-light);
    border: 1px solid var(--color-neutral-x-dark);
    cursor: pointer;
}

.c-custom-toggle__fake-input::after {
    top: -5px;
    left: -1px;
    position: relative;
    display: block;
    content: '';
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background: var(--color-neutral-x-dark);
    transition: 75ms all ease-in;
}

.c-darkmode .c-custom-toggle__fake-input::after {
    /* border: 3px solid #A3333D; */
    background: #A3333D;
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    transform: translate(24px,0);
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: #7373F5;
}

.u-color-neutral-dark {
    color: #5051DB;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 42em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}



/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
